# autosave
*~

# export files for BOM
*.tsv
*.xml

# kicad cache lib
fp-info-cache

# backup files
*-bak
*.bak
*.bkp
*-backups

# lock files
*.lck

# external info files
info/

# libreoffice lock files
*~lock*
*auto_saved_files*
